In [9]:
import pandas as pd
import duckdb
import json
import requests as r
import zipfile
import io

In [ ]:
/Users/louisspencer/Desktop/Trading-Bot-Data-Pipelines/plugins/AAVEUSDT-1m-2020-12.csv

In [20]:
base = '1INCH'
quote = 'USDT'
exchange = 'BINANCE'
year = 2020
month = '12'
url = f'https://data.binance.vision/data/futures/um/monthly/klines/{base}{quote}/1m/{base}{quote}-1m-{year}-{month}.zip'
print(f'Retrieving data for {month}-{year} from {url}....')
print()
response = r.get(url)

with zipfile.ZipFile(io.BytesIO(response.content)) as z:
    with z.open(f'{base}{quote}-1m-{year}-{month}.csv') as f:
        try:
            df = pd.read_csv(f, header = None)
            print(df)
            df['open_time'] = pd.to_datetime(df['open_time'], unit='ms')
            df['close_time'] = pd.to_datetime(df['close_time'], unit='ms').dt.round('1min')

            df.columns = ['time_period_start', 'open', 'high', 'low', 'close', 'volume', 'time_period_end', 'quote_volume', 'trades', 'taker_buy_volume', 'taker_buy_quote_volume', 'ignore']
            df = df[['time_period_start', 'time_period_end', 'open', 'high', 'low', 'close', 'volume', 'quote_volume', 'trades', 'taker_buy_volume', 'taker_buy_quote_volume']]
            
            df['asset_id_base'] = base
            df['asset_id_quote'] = quote
            df['exchange_id'] = exchange
            
            df['time_period_start'] = pd.to_datetime(df['time_period_start'], unit='ms').dt.round('1min')
            df['time_period_end'] = pd.to_datetime(df['time_period_end'], unit='ms').dt.round('1min')

            print(df.head())
            print()
        except Exception as e:
            df = pd.read_csv(f, header=None)
            df.columns = ['time_period_start', 'open', 'high', 'low', 'close', 'volume', 'time_period_end', 'quote_volume', 'trades', 'taker_buy_volume', 'taker_buy_quote_volume', 'ignore']

            df['time_period_start'] = pd.to_datetime(df['time_period_start'], unit='ms').dt.round('1min')
            df['time_period_end'] = pd.to_datetime(df['time_period_end'], unit='ms').dt.round('1min')
            df['asset_id_base'] = base
            df['asset_id_quote'] = quote
            df['exchange_id'] = exchange

            print(df.head())

Retrieving data for 12-2020 from https://data.binance.vision/data/futures/um/monthly/klines/1INCHUSDT/1m/1INCHUSDT-1m-2020-12.zip....

                 0       1       2       3       4       5              6   \
0     1608890400000  2.7000  2.9550  2.6000  2.8158  140444  1608890459999
1     1608890460000  2.8158  2.8800  2.7000  2.7600   99915  1608890519999
2     1608890520000  2.7672  2.8479  2.7600  2.8148   76365  1608890579999
3     1608890580000  2.7903  2.8049  2.7258  2.7375   48623  1608890639999
4     1608890640000  2.7463  2.7788  2.7232  2.7740   41510  1608890699999
...             ...     ...     ...     ...     ...     ...            ...
9475  1609458900000  1.3722  1.3788  1.3697  1.3761   44221  1609458959999
9476  1609458960000  1.3760  1.3806  1.3742  1.3766   20034  1609459019999
9477  1609459020000  1.3753  1.3800  1.3751  1.3766   28182  1609459079999
9478  1609459080000  1.3759  1.3768  1.3630  1.3658   53492  1609459139999
9479  1609459140000  1.3661  1.3709  1.3631  1.3676   45730  1609459199999

               7     8      9            10  11
0     386181.3079  1624  91081  251450.1266   0
1     278916.3288   823  53746  151122.4406   0
2     214675.0198   568  43165  121408.5805   0
3     134375.4571   507  21283   58933.2757   0
4     114432.3573   298  26030   71790.3883   0
...           ...   ...    ...          ...  ..
9475   60781.2454   441  24111   33157.9020   0
9476   27609.5192   229  13102   18063.8144   0
9477   38820.8527   193   8794   12112.2265   0
9478   73281.3057   334  13335   18250.9364   0
9479   62525.9269   302  24274   33205.5491   0

[9480 rows x 12 columns]

EmptyDataError: No columns to parse from file

In [14]:
df = pd.read_csv('/Users/louisspencer/Desktop/Trading-Bot-Data-Pipelines/plugins/1INCHUSDT-1m-2020-12.csv', header = None)
df

,0,1,2,3,4,5,6,7,8,9,10,11
0,1608890400000,2.7000,2.9550,2.6000,2.8158,140444,1608890459999,386181.3079,1624,91081,251450.1266,0
1,1608890460000,2.8158,2.8800,2.7000,2.7600,99915,1608890519999,278916.3288,823,53746,151122.4406,0
2,1608890520000,2.7672,2.8479,2.7600,2.8148,76365,1608890579999,214675.0198,568,43165,121408.5805,0
3,1608890580000,2.7903,2.8049,2.7258,2.7375,48623,1608890639999,134375.4571,507,21283,58933.2757,0
4,1608890640000,2.7463,2.7788,2.7232,2.7740,41510,1608890699999,114432.3573,298,26030,71790.3883,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9475,1609458900000,1.3722,1.3788,1.3697,1.3761,44221,1609458959999,60781.2454,441,24111,33157.9020,0
9476,1609458960000,1.3760,1.3806,1.3742,1.3766,20034,1609459019999,27609.5192,229,13102,18063.8144,0
9477,1609459020000,1.3753,1.3800,1.3751,1.3766,28182,1609459079999,38820.8527,193,8794,12112.2265,0
9478,1609459080000,1.3759,1.3768,1.3630,1.3658,53492,1609459139999,73281.3057,334,13335,18250.9364,0
9479,1609459140000,1.3661,1.3709,1.3631,1.3676,45730,1609459199999,62525.9269,302,24274,33205.5491,0

In [3]:
df1 = pd.read_csv('/Users/louisspencer/Desktop/Trading-Bot-Data-Pipelines/plugins/1000SATSUSDT-1m-2023-12.csv')
df1['open_time'] = pd.to_datetime(df1['open_time'], unit='ms')
df1['close_time'] = pd.to_datetime(df1['close_time'], unit='ms')
df1

,open_time,open,high,low,close,volume,close_time,quote_volume,count,taker_buy_volume,taker_buy_quote_volume,ignore
0,2023-12-12 14:00:00,0.000526,0.000537,0.000512,0.000533,1252111265,2023-12-12 14:00:59.999,6.609725e+05,2216,582176952,307383.287235,0
1,2023-12-12 14:01:00,0.000533,0.000549,0.000533,0.000543,2279759561,2023-12-12 14:01:59.999,1.234642e+06,3426,937423236,508677.740525,0
2,2023-12-12 14:02:00,0.000541,0.000553,0.000536,0.000542,2684490835,2023-12-12 14:02:59.999,1.461867e+06,3777,1136029621,619376.240802,0
3,2023-12-12 14:03:00,0.000542,0.000548,0.000535,0.000541,1557976781,2023-12-12 14:03:59.999,8.419144e+05,3323,728065522,394181.710911,0
4,2023-12-12 14:04:00,0.000541,0.000549,0.000538,0.000546,1474421292,2023-12-12 14:04:59.999,8.025531e+05,3184,887986100,483977.150185,0
...,...,...,...,...,...,...,...,...,...,...,...,...
27955,2023-12-31 23:55:00,0.000778,0.000779,0.000778,0.000778,69518121,2023-12-31 23:55:59.999,5.412036e+04,277,44416244,34576.936863,0
27956,2023-12-31 23:56:00,0.000778,0.000779,0.000778,0.000778,82630743,2023-12-31 23:56:59.999,6.428971e+04,345,24467789,19037.216138,0
27957,2023-12-31 23:57:00,0.000778,0.000780,0.000778,0.000780,79528517,2023-12-31 23:57:59.999,6.195546e+04,368,55668448,43361.960258,0
27958,2023-12-31 23:58:00,0.000780,0.000781,0.000780,0.000780,179791706,2023-12-31 23:58:59.999,1.402507e+05,727,105496320,82289.363911,0
27959,2023-12-31 23:59:00,0.000780,0.000780,0.000779,0.000780,83603372,2023-12-31 23:59:59.999,6.516830e+04,318,32622929,25429.921212,0

In [3]:
print('duckdb:', duckdb.__version__)
print('pandas:', pd.__version__)

duckdb: 1.3.0
pandas: 2.2.3

In [19]:
with duckdb.connect(
    database = '/Users/louisspencer/LocalData/database.db'
) as conn:
    query = """
    SELECT *
    FROM market_data.ohlcv_1m
    WHERE
        asset_id_base = 'ADA' AND
        asset_id_quote = 'USDT' AND
        exchange_id = 'BINANCE' AND
        time_period_end >= '2025-04-01' AND
        time_period_end <= '2025-05-01'
    ORDER BY asset_id_base, asset_id_quote, exchange_id
    """
    df_ohlcv = conn.execute(query).df()

In [26]:
df['candle_data_start'] = pd.to_datetime('2019-01-01 00:00:00')
df['candle_data_end'] = pd.to_datetime('2019-01-01 00:00:00')
df['trade_data_start'] = pd.to_datetime('2019-01-01 00:00:00')
df['trade_data_end'] = pd.to_datetime('2019-01-01 00:00:00')
df['futures_trade_data_start'] = pd.to_datetime('2019-01-01 00:00:00')
df['futures_trade_data_end'] = pd.to_datetime('2019-01-01 00:00:00')
df['futures_candle_data_start'] = pd.to_datetime('2019-01-01 00:00:00')
df['futures_candle_data_end'] = pd.to_datetime('2019-01-01 00:00:00')
df['funding_rate_data_start'] = pd.to_datetime('2019-01-01 00:00:00')
df['funding_rate_data_end'] = pd.to_datetime('2019-01-01 00:00:00')
df['order_book_depth_data_start'] = pd.to_datetime('2019-01-01 00:00:00')
df['order_book_depth_data_end'] = pd.to_datetime('2019-01-01 00:00:00')
df['futures_metrics_data_start'] = pd.to_datetime('2019-01-01 00:00:00')
df['futures_metrics_data_end'] = pd.to_datetime('2019-01-01 00:00:00')
df.to_json('/Users/louisspencer/Desktop/Trading-Bot-Data-Pipelines/data/binance_metadata.json', orient='records', lines=True)

In [21]:
df_ohlcv.head()

NameError: name 'df_ohlcv' is not defined

In [16]:
ada_klines['open_time'] = pd.to_datetime(ada_klines['open_time'], unit='ms')
ada_klines['close_time'] = pd.to_datetime(ada_klines['close_time'], unit='ms')
ada_klines

,open_time,open,high,low,close,volume,close_time,quote_volume,count,taker_buy_volume,taker_buy_quote_volume,ignore
0,2025-04-01 00:00:00,0.6614,0.6614,0.6607,0.6607,410339,2025-04-01 00:00:59.999,271241.7256,931,190436,125885.3407,0
1,2025-04-01 00:01:00,0.6608,0.6621,0.6606,0.6620,473743,2025-04-01 00:01:59.999,313256.3038,753,342146,226238.4955,0
2,2025-04-01 00:02:00,0.6619,0.6630,0.6616,0.6629,465767,2025-04-01 00:02:59.999,308438.0741,890,234438,155276.7402,0
3,2025-04-01 00:03:00,0.6630,0.6640,0.6629,0.6639,774415,2025-04-01 00:03:59.999,513730.8539,1772,484740,321611.9630,0
4,2025-04-01 00:04:00,0.6639,0.6651,0.6638,0.6648,1328371,2025-04-01 00:04:59.999,882821.6732,1437,707433,470197.1372,0
...,...,...,...,...,...,...,...,...,...,...,...,...
43195,2025-04-30 23:55:00,0.6812,0.6813,0.6810,0.6812,323275,2025-04-30 23:55:59.999,220182.8649,317,57798,39367.4014,0
43196,2025-04-30 23:56:00,0.6811,0.6812,0.6810,0.6812,350350,2025-04-30 23:56:59.999,238619.3259,293,187853,127949.3378,0
43197,2025-04-30 23:57:00,0.6812,0.6816,0.6811,0.6813,348658,2025-04-30 23:57:59.999,237548.1041,347,171549,116887.4466,0
43198,2025-04-30 23:58:00,0.6813,0.6813,0.6812,0.6813,30041,2025-04-30 23:58:59.999,20466.1737,83,20964,14282.7732,0
43199,2025-04-30 23:59:00,0.6813,0.6814,0.6811,0.6811,167137,2025-04-30 23:59:59.999,113855.3587,186,30868,21029.0715,0

In [9]:
aave_klines

,open_time,open,high,low,close,volume,close_time,quote_volume,count,taker_buy_volume,taker_buy_quote_volume,ignore
0,1743465600000,159.570000,159.570000,159.269530,159.280000,0,1743465659999,0,60,0,0,0
1,1743465660000,159.292387,159.670000,159.286665,159.650000,0,1743465719999,0,60,0,0,0
2,1743465720000,159.650000,159.770000,159.519377,159.770000,0,1743465779999,0,60,0,0,0
3,1743465780000,159.770000,159.920000,159.770000,159.833763,0,1743465839999,0,60,0,0,0
4,1743465840000,159.833763,160.025902,159.780946,160.025901,0,1743465899999,0,60,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
43195,1746057300000,164.207797,164.210124,164.059446,164.059795,0,1746057359999,0,60,0,0,0
43196,1746057360000,164.060652,164.100000,164.026623,164.060000,0,1746057419999,0,60,0,0,0
43197,1746057420000,164.060000,164.250000,164.060000,164.200000,0,1746057479999,0,60,0,0,0
43198,1746057480000,164.200000,164.240000,164.192136,164.240000,0,1746057539999,0,60,0,0,0
43199,1746057540000,164.240000,164.240000,164.143553,164.143553,0,1746057599999,0,60,0,0,0